---
import "../styles/global.css";
import "../styles/projects.css";
import RichParagraph from "./RichParagraph.astro";
import type { Project } from "../data/types";

const project: Project = Astro.props.project;
if (!project || !project.job) {
    throw new Error("Project with job details is required.");
}
---

<div
    class="container bordered clickable margin-top"
    onclick={`window.location.href = '/projects#${project.id}'`}
>
    <div class="resume-grid">
        <div>
            <h3>{project.job.position}</h3>
            <p class="light">@ {project.job.company}</p>
        </div>
        <div>
            <p>{project.date}</p>
            <p class="light">{project.job.city}</p>
        </div>
    </div><br>

    <RichParagraph>{project.shortDescription}</RichParagraph>

    {(project.technologies.length > 0 || project.skills.length > 0) && (
        <ul class="skills-list">
            {project.technologies.map((tech) => (
                <li class="tech">{tech}</li>
            ))}
            {project.skills.map((skill) => (
                <li>{skill}</li>
            ))}
        </ul>
    )}
</div>
