---
import "../styles/global.css";
import "../styles/projects.css";

import RichParagraph from "./RichParagraph.astro";
import ExternalLink from "./ExternalLink.astro";

import type { Project } from "../data/types";
import ProjectGallery from "./ProjectGallery.astro";

const project: Project = Astro.props.project;
if (!project) {
    throw new Error("Project data is required");
}
---

<div id={project.id} class="project-details container">
    <div class="header-grid margin-vertical">
        <img src={project.iconURL || "/images/android-chrome-192x192.png"} alt={`${project.id} icon`} width="80" height="80">
        <div>
            <h2>{project.name}</h2>
            <p class="monaspace">{project.tldr}</p>
            <p class="monaspace light" style="margin-top: 0.5rem;">{project.date}</p>
        </div>
        {project.links.length > 0 && (
            <div class="external-links">
                {project.links.map((link) => (project.id === "portfolio" && link.label !== "GitHub") ? (
                    <a href={link.url} class="local-link">‹ {link.label}</a>
                        ) : (
                    <ExternalLink href={link.url}>{link.label}</ExternalLink>
                ))}
            </div>
        )}
    </div>
    <RichParagraph>{project.detailedDescription || project.shortDescription}</RichParagraph>
    {project.bulletPoints.length > 0 && (
        <ul class="secondary bordered">
            {project.bulletPoints.map((bulletPoint) => (
                <li><RichParagraph>{bulletPoint}</RichParagraph></li>
            ))}
        </ul>
    )}
    <h3 class="title-margin">My Role & Responsibilities</h3>
    <RichParagraph>{project.role}</RichParagraph>
    <div class="skills-grid margin-bottom">
        <div>
            {project.technologies.length > 0 && (
                <h3 class="title-margin">Technologies</h3>
                <ul class="skills-list">
                    {project.technologies.map((technology) => (
                        <li class="tech">{technology}</li>
                    ))}
                </ul>
            )}
        </div>
        <div>
            {project.skills.length > 0 && (
                <h3 class="title-margin">Skills</h3>
                <ul class="skills-list">
                    {project.skills.map((skill) => (
                            <li>{skill}</li>
                    ))}
                </ul>
            )}
        </div>
    </div>
    {project.gallery.length > 0 && (
        <div class="title-margin">
            <h3>Gallery</h3>
            <p class="small-margin-top monaspace">Click on an image to expand.</p>
        </div>
        <ProjectGallery fileNames={project.gallery} />
    )}
</div>

<style>
    .project-details {
        scroll-margin-top: 100px;
    }

    .monaspace {
        font-family: monaspace-neon, sans-serif;
    }

    .header-grid {
        display: grid;
        grid-template-columns: 80px 1fr 1fr;
        gap: 2rem;
    }

    .skills-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

    .external-links {
        align-self: start;
        text-align: end;
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        gap: 0.5rem 1rem;
    }

    @media (max-width: 600px) {
        .header-grid {
            grid-template-columns: 80px 1fr;
        }

        .external-links {
            grid-column: 1 / -1;
            align-self: center;
            text-align: center;
            flex-direction: row;
            justify-content: center;
        }
    }
</style>